
body {
    width: 50%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    margin: 1rem;
}

#code_snippet {
    width: 100%;
    min-width: 12rem;
    min-height: 6rem;
}

#send_snippet {
    width: 6rem;
}